.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  font-family: fantasy;
  font-size: 25px !important;
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-group {
  font-size: 20px;
  text-align: center;
}

.search-form {
  margin-top: 10px;
  font-family: Cambria;
}

.search-text-box{
  display: inline;
  width: 75%;
  margin-right: 10px ;
  border-radius: 3px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
